// Here you can add other styles
@import "_bootstrap-variables.scss";

.VueTables__search-field {
  display: flex;
  label {
    margin-right: 5px;
  }
}

.VueTables__limit-field {
  display: flex;
  label {
    margin-right: 5px;
  }
}

.autocomplete__box {
  padding: $input-padding-x $input-padding-y!important;
}

.fc-event.PENDING {
  background-color: $info
}

.fc-event.FINISHED {
  background-color: $success
}

.main {

}

#forms-nav {
  border-top: 1px solid $gray-200;
}

.app-header {
  top: 0px;
}

.autocomplete__box {
  padding: $input-padding-y $input-padding-x!important;
  border-radius: $border-radius!important;
}

.card {
  border: none;
}
body {
  background-color: $breadcrumb-bg;
}
.card-header, .card-body, .card-footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.card-header {
  font-weight: bold;
  border-bottom: 1px solid $gray-300;
  background-color: white;
}
.breadcrumb {
  border-bottom: none;
  padding-left: 30px;
  padding-right: 30px;
}

.visit-nav {
  border-bottom: 1px solid $gray-300;
}