// Here you can add other styles
@import "_bootstrap-variables.scss";

$box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

.VueTables__search-field {
  display: flex;
  label {
    margin-right: 5px;
  }
}

.VueTables__limit-field {
  display: flex;
  label {
    margin-right: 5px;
  }
}

.VueTables__sortable {
  cursor: pointer;
}
.VueTables__filters-row {
 font-size: $font-size-sm!important;
}
.autocomplete__box {
  padding: $input-padding-x $input-padding-y!important;
}

.fc-event.PENDING {
  background-color: $info
}

.fc-event.FINISHED {
  background-color: $success
}

.main {

}

.pointer {
  cursor: pointer;
}

.sidebar-nav {
  overflow-y: auto!important;
}

#forms-nav {
  border-top: 1px solid $gray-200;
}

.app-header {
  top: 0px;
}

.autocomplete__box {
  padding: $input-padding-y $input-padding-x!important;
  border-radius: $border-radius!important;
}

.card {
  border: none;
  box-shadow: $box-shadow;
}
.alert {
  border: none;
}
.btn:not(.btn-link), .alert {
  box-shadow: $box-shadow;
}
body {
  background-color: $breadcrumb-bg;
}
.card-header, .card-body, .card-footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.card-header {
  font-weight: bold;
  border-bottom: 1px solid $gray-300;
  background-color: white;
}
.breadcrumb {
  border-bottom: none;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0.2rem;
}

.visit-nav {
  border-bottom: 1px solid $gray-300;
}

.button-add {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: $success;
  box-shadow: $box-shadow;
  color: $white;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.button-add:hover {
  color: $white;
}
a.button-add i {
  margin-top: 1rem;
}

.bottom-right {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
}

.card-toolbar {
  float: right;
  color: $primary;
  cursor: pointer;
}
.card-toolbar i, .card-toolbar a {
  margin-right: 0.5rem;
}
.card-toolbar i:last-child, .card-toolbar a:last-child {
  margin-right: 0;
}
.header-fixed .app-header {
  z-index: 1000;
}
.display-time {
  width: 100%!important;
}
#visit-nav button, #forms-nav button {
  box-shadow: none;
  border: none;
}
#this {
  background-image:url( '/static/img/okulista.jpg');
}

.brand-minimized .app-header.navbar .navbar-brand {
  background-image: none;
}
.atom-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 30%;
  margin: auto;
}
.spinner-line {
  border-color: $primary!important;
}
.spinner-circle {
  color: $info!important;
}
#overlay {
  width: 100vw;
  height: 100vh;
  background-color: $gray-400;
  opacity: 0.4;
  z-index: 2;
  position: absolute;
  display: table;
}
div.app {
  position: absolute;
  z-index: 1;
  width: 100%;
}
#visit-sidebar .nav {
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: row;
}
#visit-sidebar .nav .nav-item {
  max-width: 200px;
}
.sidebar-fixed .sidebar {
  min-height: calc(100vh - 55px);
}

.app-header.navbar .navbar-brand {
  position: initial;
  left: 0;
  margin-left: 0;
}